* {
    margin: 0;
    padding: 0;
}

.hide {
    visibility: hidden;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    /* background-color: blueviolet; */
}

#root {
    background-color: #ddeddb;
}